@import url(https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700;800&display=swap);

html, body, #root,.App{
  min-height: 100vh;
}

:root{
  --secondary-color: hsl(0, 0%, 63%);
  --main-font: 'Spartan', sans-serif;
}

body {
  margin: 0;
  font-family: var(--main-font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.simplebar-scrollbar::before {
  background-color: rgb(99, 99, 99) !important;
}